<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.animalekarte.lab-device-agent</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PROGRAM_PATH__</string>
    <string>--clinic-id</string>
    <string>__CLINIC_ID__</string>
    <string>--ports-file</string>
    <string>__PORTS_FILE__</string>
    <string>--allowed-origin</string>
    <string>__ALLOWED_ORIGIN__</string>
    <string>--consumer-token</string>
    <string>__CONSUMER_TOKEN__</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>__STDOUT_PATH__</string>
  <key>StandardErrorPath</key>
  <string>__STDERR_PATH__</string>
</dict>
</plist>
